/PROG/Proyectos NetBeans/nb/CLASES/dist/
/PROG/Proyectos NetBeans/nb/Vectores/nbproject/private/
/PROG/Proyectos NetBeans/nb/Vectores/build/
/PROG/Proyectos NetBeans/nb/VectoresDeObjetos/nbproject/private/
/PROG/Proyectos NetBeans/nb/VectoresDeObjetos/build/